{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    <h1 class="mb-3 text-center">Список книг</h1>

    {% if current_user.is_authenticated and current_user.role_id == 1 %}
        <a href="{{ url_for('add_book') }}" class="btn btn-primary mb-3">Добавить книгу</a>
    {% endif %}

    <div class="row">
        {% for book in books %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    {% if book.cover_filename %}
                        <img src="{{ url_for('static', filename='uploads/' ~ book.cover_filename) }}" class="card-img-top" alt="{{ book.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">Жанры: {{ book.genres }}</p>
                        <p class="card-text">Год: {{ book.year }}</p>
                        <p class="card-text">Средняя оценка: {{ book.average_rating }}</p>
                        <p class="card-text">Количество рецензий: {{ book.review_count }}</p>
                        <a href="{{ url_for('view_book', book_id=book.id) }}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for p in range(1, total_pages + 1) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('index', page=p) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
